* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url(assets/images/bg.jpg);
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  height: 62px;
}

.logo {
  right: 75%;
  width: 224px;
  height: 81px;
  position: absolute;
  z-index: 10;
  align-items: center;
}

nav button {
  z-index: 10;
  position: relative;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  gap: 23px;
  padding: 0px 29px;
}

.hero > :nth-child(1) {
  font-weight: bold;
  font-size: 44px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(60, 58, 58);
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.367);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}

.btn-red-sm {
  background-color: red;
  padding: 3px 8px;
  color: white;
  border: 1px solid red;
  border-radius: 4px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  font-weight: 500;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: auto;
  color: white;
  align-items: center;
}

.secimage {
  height: 207px;
  padding: 20px 40px;
  display: flex;
  margin: auto;
  max-width: 30vw;
  position: relative;
}

.first > div {
  display: flex;
  flex-direction: column;
}

.first > div :first-child {
  font-size: 48px;
  font-weight: bold;
}

.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: bold;
}

.faq h2{
  text-align: center;
  font-size: 48px;
}

.faq{
  background: black;
  color: white;
  padding: 34px;
}

.faqbox {
  display: flex;
  font-size: 20px;
  background-color: grey;
  padding: 15px;
  max-width: 60vw;
  margin: 28px auto;
  justify-content: space-between;
  cursor: pointer;
}

.faqbox:hover{
  background-color: rgb(63, 59, 59);
}

footer{
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

footer .answer{
  padding: 34px 0;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer a{
  font-size: 14px;
  color: white;
}

.footer-items{
  display: flex;
  flex-direction: column;
  gap: 23px;
}